{
  "extends": ["standard", "standard-jsx"],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [2, "never"],
    "react/react-in-jsx-scope": 2,
    "jsx-quotes": [2, "prefer-double"]
  }
}