body {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

#main {
    width: 100%;
}

#login {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}
#login:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}
.login-modal {
    display: inline-block;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    vertical-align: middle;
    text-align: left;
}
.login-modal h1 {
    margin: 20px;
    padding: 0;
    font-size: 20px;
}
.login-modal input {
    margin: 0 20px 20px 20px;
    font-size: 16px;
}

.literally {
    height: calc(100vh - 200px);
}

#chat {
    border-top: 1px solid #555;
    background-color: #e6e6e6;
    height: 200px;
}

#messages {
    margin: 10px;
    height: 130px;
    overflow-y: auto;
}

#chat-input textarea {
    padding: 5px;
    width: 100%;
    height: 30px;
}
#chat-input textarea:focus {
    outline: none;
}